* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
 
body {
  background-color: linen;
}
h1{
  text-align: center;
  color: green;

}
li{
  width: 60px;
  height: 50px;
  justify-content: space-between;

}
ul li{
  background-color: #FF1493;
  margin-right: 100px;
  margin-left: 60px;
  display: inline-block;
  justify-content: space-between;
  list-style-type: none;
  padding: 5px;;
  border: 2px solid #0000CD;
  border-radius: 20%;
}
li a{
  text-decoration: none;
}
.template{
  background-color: lightblue;
  padding: 20px;
  margin: 50px;
  border-radius: 2px solid red;
}

.xhtml{
  font-size: 20px;
  background-color: lightblue;
  width: 500px;
  color: yellow;
  padding: 60px;
  margin-left: 790px;
  margin-right: 0px;
  border: 2px solid #D2691E;
  border-radius: 50% 20%;
}
.feel{
  font-size: 20px;
  background-color: lightblue;
  color: gray;
  padding: 30px;
  width: 500px;
  margin-left: 0px;
  margin-right: 400px;
  border-radius: 10px 100px / 120px;
  border: 2px solid #7FFF00;
}
.really{
  font-size: 20px;
  color: green;
  background-color: lightblue;
  padding: 20px;
  margin: 50px;
  border-radius: 10% / 50%;
  border: 2px solid #FF7F50;
}
#footer{
  font-size: 20px;
  text-align: center;
  background-color: #8FBC8F;
  border-radius: 30px;
  width: ;
  position: relative;
  flex: left;

}
